.unicorn {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 24px 0;
    &_header {
        padding-left: 24px;
        padding-right: 24px;
    }
    &_main-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
        border-bottom: 1px solid #f3f3f3;
        &_title {
            font-size: 18px;
            color: #0a0e1a;
            font-weight: 600;
        }
        &_all {
            border: 1px solid #f3f3f3;
            border-radius: 4px;
            text-align: center;
            padding: 4px 16px;
            font-size: 14px;
            color: #78828e;
        }
    }
    &_subheader {
        padding-left: 24px;
        padding-right: 24px;
    }
    &_actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 0;
        &_list {
            display: flex;
            align-items: center;
            flex-direction: row;
            column-gap: 16px;
        }
        &_icon {
            border: 1px solid #ebedf0;
            padding: 8px;
            height: 28px;
            width: 28px;
            border-radius: 66px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            cursor: pointer;
            .bi {
                &::before {
                    height: 12px;
                    width: 12px;
                    color: #7a8699;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    &_data {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        height: 982px;
        .scrollable-container {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            padding-left: 24px;
            padding-right: 24px;
        }
        .item {
            border: 1px solid #f3f3f3;
            background-color: #ffffff;
            padding: 16px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            &_title {
                display: flex;
                align-items: start;
                flex-direction: row;
                column-gap: 8px;
                &_image {
                    height: 38px;
                    width: 38px;
                    border-radius: 50%;
                }
                &_name {
                    color: #0a0e1a;
                    font-size: 14px;
                    font-weight: 600;
                }
                &_status {
                    font-size: 12px;
                    text-transform: capitalize;
                }
                &_tag {
                    background-color: #fff3e5;
                    border-radius: 4px;
                    height: 25px;
                    color: #ff8a00;
                    font-size: 11px;
                    padding: 4px 8px;
                    text-transform: capitalize;
                    .bi {
                        &::before {
                            color: #ff8a00;
                            vertical-align: middle !important;
                        }
                    }
                }
            }
            &_description {
                color: #7a8699;
                font-size: 12px;
                width: 75%;
            }

            &:hover {
                filter: drop-shadow(0 10px 20px #f3f3f3);
            }
        }
    }
}
