<div class="sidebar">
    <!-- Analytics - Start -->
    <div class="sidebar_item">
        <div class="sidebar_item_title">
            Analytics
        </div>
        <div class="list-group">
            <a href="#collapseGetLeadMenu1" data-bs-toggle="collapse" aria-expanded="true"
                aria-controls="collapseGetLeadMenu1"
                class="list-group-item list-group-item-action active d-flex align-items-center" aria-current="true">
                <i class="bi bi-house me-2"></i>
                <span class="me-auto">Get Leads</span>
                <i class="bi bi-chevron-up"></i>
            </a>
            <div class="collapse show" id="collapseGetLeadMenu1">
                <a href="#" class="list-group-item list-group-item-action">X-Ray</a>
                <a href="#" class="list-group-item list-group-item-action">Mercury</a>
            </div>
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-eraser me-2"></i>
                <span class="me-auto">My Leads</span>
            </a>
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-life-preserver me-2"></i>
                <span class="me-auto">My Automations</span>
            </a>
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-lightning-charge me-2"></i>
                <span class="me-auto">Integrations</span>
            </a>
        </div>
    </div>
    <!-- Analytics - End -->

    <!-- Content - Start -->
    <div class="sidebar_item">
        <div class="sidebar_item_title">
            Content
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-person-circle me-2"></i>
                <span class="me-auto">My Account</span>
            </a>
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-graph-up-arrow me-2"></i>
                <span class="me-auto">Analytics</span>
            </a>
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-chat-left-text me-2"></i>
                <span class="me-auto">Inbox</span>
            </a>
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-life-preserver me-2"></i>
                <span class="me-auto">My Automations</span>
            </a>
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-boxes me-2"></i>
                <span class="me-auto">Templates</span>
            </a>
        </div>
    </div>
    <!-- Content - End -->

    <!-- Customization - Start -->
    <div class="sidebar_item">
        <div class="sidebar_item_title">
            Customization
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-gear me-2"></i>
                <span class="me-auto">Help</span>
            </a>
        </div>
        <div class="list-group">
            <a href="#" data-bs-toggle="collapse" aria-expanded="false"
                class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
                <i class="bi bi-info-circle me-2"></i>
                <span class="me-auto">Community</span>
            </a>
        </div>
    </div>
    <!-- Customization - End -->
</div>