<div class="triggers">
    <div class="d-flex align-items-center justify-content-between border-bottom triggers_header">
        <div class="triggers_header_title">X-Ray Triggers</div>
        <div class="triggers_header_view-all">View All</div>
    </div>
    <div class="item">
        <!-- Table Header - Start -->
        <div class="item_header">
            <div class="me-2">
                <input class="form-check-input" type="checkbox" value="">
            </div>
            <div class="me-auto text-left">Name</div>
            <div class="me-auto text-left">X-Ray Status</div>
            <div class="me-auto text-center">Capture leads from</div>
            <div class="me-auto text-left">Audience name</div>
            <div class="text-center">Actions</div>
        </div>
        <!-- Table Header - End -->

        <!-- Table Data - Start -->
        <div class="scrollable-container">
            <div class="item_data" *ngFor="let trigger of triggers"
                [class.checked]="trigger.isChecked">
                <div class="me-2">
                    <input class="form-check-input" type="checkbox" (change)="toggleChecked(trigger)">
                </div>
                <div class="me-auto text-left">{{trigger.name}}</div>
                <div class="me-auto text-left">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                            [checked]="trigger.status === 'on'">
                    </div>
                </div>
                <div class="me-auto text-center">{{trigger.leads_from}}</div>
                <div class="me-auto text-left text-truncate">{{trigger.audience_name}}</div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="me-2"><i class="bi bi-pencil-square edit-icon"></i></div>
                    <div><i class="bi bi-three-dots-vertical"></i></div>
                </div>
            </div>
        </div>
        <!-- Table Data - End -->
    </div>
</div>