/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Open Sans";
}

/* Switch (On / Off) */
.form-switch {
    .form-check-input[role="switch"] {
        height: 18px;
        width: 32px;
        background-color: #ebedf0;
        &:checked {
            background-color: #009b72;
            border-color: #009b72;
        }
    }
}

/* Checkbox */
.form-check-input[type="checkbox"] {
    border-color: #dfe2e6;
    margin-top: 0.3em;
    height: 16px;
    width: 16px;
    &:checked {
        background-color: #0a0e1a;
        border-color: #0a0e1a;
    }
}

.form-check-label {
    color: #354764;
}

/* Text Colors */
.text-light {
    color: #78828e !important;
}

.text-dark {
    color: #0a0e1a;
    font-weight: 600;
}

.text-semi-dark {
    color: #6b788e;
}

.test-green {
    color: #009b72;
}

/* Buttons */
.btn-outline-primary {
    height: 45px;
    border-radius: 8px;
    font-size: 14px;
    color: #0080fc;
    border-color: #0080fc;
    padding: 12px 24px;
    &:hover {
        color: #ffffff;
    }
}

.btn-primary {
    width: 100%;
    background-color: #0080fc;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    .bi {
        line-height: 1;
        &::before {
            color: #ffffff;
            font-weight: bold !important;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* Dropdown */
.dropdown-toggle {
    &::after {
        display: none;
    }
}

/* Scrollable Div */

.scrollable-container {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
}

/* Loader */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.custom-input {
    border: 1px solid #f3f3f3;
    border-radius: 8px;
    padding: 10px 11px;
    height: 49px;
}

.input-group-text {
    background-color: #ffffff;
    border: none;
    padding: 0 5px;
    color: #78828e;
}

.form-control {
    border: none;
    padding: 0 5px;
    text-align: center;
    color: #78828e;
    font-size: 14px;
    &:focus {
        box-shadow: none;
    }
}

.card {
    border: none;
    background-color: #ffffff;
    padding: 24px;
}

.vr {
    border-color: #f3f3f3;
    margin: 0;
}

.bi {
    cursor: pointer;
    &::before {
        color: #78828e;
    }
}

*:focus-visible {
    outline: none;
}
