<div class="home-container">
    <div class="page-header-section">
        <div class="title">
            <strong>Home</strong>
        </div>
        <div class="button">
            <button type="button" class="btn btn-primary btn-lg"><i class="bi bi-plus"></i> Automation</button>
        </div>
    </div>
    <!-- My Automation Analytics - Start -->
    <div class="automation-analytic-section">
        <div class="automation-analytic-section_title">
            <div class="automation-analytic-section_subtitle">
                My Automation Analytics
            </div>
            <div>
                <!-- TODO: Pending to make it functional -->
                <div class="input-group custom-input">
                    <span class="input-group-text"><i class="bi bi-calendar4"></i></span>
                    <input type="text" class="form-control" placeholder="07/31/2023">
                    <span class="input-group-text"><i class="bi bi-dash"></i></span>
                    <input type="text" class="form-control" placeholder="08/30/2023">
                </div>
            </div>
        </div>
         <!-- Top Analytic Cards - Start -->
            <app-top-analytic-cards [topAnalyticsCards]="data?.top_analytics_cards"></app-top-analytic-cards>
        <!-- Top Analytic Cards - End -->
    </div>
    <!-- My Automation Analytics - End -->
    <div class="sub-section">
        <div class="sub-section_details">
            <div class="sub-section_details_cards view-row">
                <div class="card email-outreach">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="email-outreach_title">Connect Email Outreach</div>
                        <div><i class="bi bi-three-dots"></i></div>
                    </div>
                    <div class="email-outreach_details">Connect your accounts to our deliverability tools in the </div>
                    <button type="button" class="btn btn-outline-primary">Connect Email</button>
                </div>
                <div class="card new-automation">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="new-automation_title">Create a new Automation</div>
                        <div><i class="bi bi-three-dots"></i></div>
                    </div>
                    <div class="new-automation_details">Use our outreach automation to contact your warm leads from
                        X-Ray.</div>
                    <button type="button" class="btn btn-outline-primary">Create Automation</button>
                </div>
            </div>
            <div class="sub-section_details_cards card view-row">
                <!-- Activation Steps - Start  -->
                <app-activation-steps class="w-100" *ngIf="data?.activation_steps" [activationSteps]="data?.activation_steps"></app-activation-steps>
                <!-- Activation Steps - End  -->
                <div class="vr"></div>
                <div class="email-automation w-100">
                    <div class="d-flex align-items-center justify-content-between border-bottom">
                        <div class="email-automation_title">Email Automation</div>
                        <div class="email-automation_view-all">View All</div>
                    </div>
                    <div class="item">
                        <div class="d-flex align-items-center justify-content-between item_content">
                            <div class="item_icon"><i class="bi bi-envelope"></i></div>
                            <div class="item_title">Email</div>
                            <div class="item_actions">
                                <div class="item_actions_day"><i class="bi bi-clock me-2"></i> Day 1</div>
                                <div class="item_actions_switch">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" checked>
                                    </div>
                                </div>
                                <div class="item_actions_more"><i class="bi bi-three-dots-vertical"></i></div>
                            </div>
                        </div>
                        <div class="item_subject">
                            <span class="text-light me-1">Subject:</span>
                            <span class="text-dark">Reaching out</span>
                        </div>
                        <div class="item_description">
                            <p class="text-light mb-0">Hey (first_name).....</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="d-flex align-items-center justify-content-between item_content">
                            <div class="item_icon"><i class="bi bi-chat-square-dots"></i></div>
                            <div class="item_title">Messages</div>
                            <div class="item_actions">
                                <div class="item_actions_day"><i class="bi bi-clock me-2"></i> Day 1</div>
                                <div class="item_actions_switch">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" checked>
                                    </div>
                                </div>
                                <div class="item_actions_more"><i class="bi bi-three-dots-vertical"></i></div>
                            </div>
                        </div>
                        <div class="item_subject">
                            <span class="text-light me-1">Subject:</span>
                            <span class="text-dark">Reaching out</span>
                        </div>
                        <div class="item_description">
                            <p class="text-light mb-0">Hey (first_name).....</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-section_details_cards card px-0">
                <!-- X-Ray Triggers - Start -->
                <app-x-ray-trigger *ngIf="data?.x_rays_triggers" [triggers]="data?.x_rays_triggers"></app-x-ray-trigger>
                <!-- X-Ray Triggers - End -->
            </div>
        </div>
        <!-- Unicorn Inbox - Start -->
        <app-unicorn-inbox class="sub-section_unicorn" *ngIf="data?.inbox_list" [inboxList]="data?.inbox_list"></app-unicorn-inbox>
        <!-- Unicorn Inbox - End -->
    </div>
</div>