.home-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    .page-header-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            margin-right: auto;
            strong {
                color: #0a0e1a;
                font-size: 25px;
            }
        }
        .button {
            width: 144px;
        }
    }
    .automation-analytic-section {
        background-color: #ffffff;
        border-radius: 12px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        &_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .custom-input {
                .form-control {
                    width: 90px;
                }
            }
        }
        &_subtitle {
            color: #0a0e1a;
            font-size: 22px;
            font-weight: 600;
        }
    }
    .sub-section {
        display: flex;
        flex-direction: row;
        column-gap: 24px;
        &_details {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            width: 70%;
            &_cards {
                &.view-row {
                    display: flex;
                    flex-direction: row;
                    column-gap: 24px;
                }
                border-radius: 12px;
                .email-outreach {
                    width: 50%;
                    padding: 16px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 16px;
                    border-radius: 12px;
                    &_title {
                        font-size: 16px;
                        font-weight: 600;
                        color: #0a0e1a;
                    }
                    &_details {
                        font-size: 14px;
                        color: #78828e;
                        text-transform: capitalize;
                        margin-bottom: auto;
                    }
                }
                .new-automation {
                    width: 50%;
                    padding: 16px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 16px;
                    border-radius: 12px;
                    &_title {
                        font-size: 16px;
                        font-weight: 600;
                        color: #0a0e1a;
                    }
                    &_details {
                        font-size: 14px;
                        color: #78828e;
                        text-transform: capitalize;
                    }
                }
                .email-automation {
                    display: flex;
                    flex-direction: column;
                    row-gap: 12px;
                    &_title {
                        font-size: 18px;
                        font-weight: 600;
                        color: #0a0e1a;
                        margin-bottom: 12px;
                    }
                    &_view-all {
                        color: #78828e;
                        font-size: 12px;
                        margin-bottom: 12px;
                        cursor: pointer;
                    }
                    .item {
                        border: 1px solid #f3f3f3;
                        border-radius: 8px;
                        padding: 16px;
                        &_content {
                            padding-bottom: 8px;
                            border-bottom: 1px solid #ebedf0;
                        }
                        &_icon {
                            height: 35px;
                            width: 35px;
                            background-color: #f3edff;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 8px;
                            .bi {
                                &::before {
                                    height: 19px;
                                    width: 19px;
                                    color: #7339f5;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight: bold !important;
                                }
                            }
                        }
                        &_title {
                            font-size: 14px;
                            font-weight: 600;
                            color: #0a0e1a;
                            margin-right: auto;
                        }
                        &_actions {
                            display: flex;
                            align-items: center;
                            column-gap: 16px;
                            &_day {
                                color: #78828e;
                                font-size: 12px;
                                display: flex;
                                align-items: center;
                                .bi {
                                    &::before {
                                        height: 14px;
                                        width: 14px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                }
                            }
                            &_switch {
                                width: 32px;
                            }
                        }
                        &_subject {
                            padding: 12px 0;
                            font-size: 12px;
                            border-bottom: 1px solid #ebedf0;
                        }
                        &_description {
                            font-size: 12px;
                            padding: 12px 0 0;
                        }
                    }
                }
            }
        }
        &_unicorn {
            width: 30%;
        }
    }
}
